.news_container {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.news_container h2 {
  padding: 1rem;
}

.news_container .content {
  display: flex;
  align-items: center;
}

.news_container .content .item {
  padding: 1rem;
}

.news_container .content img {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
}

.news_container .content .item p {
  font-size: 0.9rem;
}

.news_container .content .news_info {
  padding: 0.25rem 0;

  color: var(--primary-deactivate-font-color);
  font-size: 0.8rem;
}

.news_container .remote_container {
  margin: 2rem 0;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.news_container .remote_container span {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #aaa;
  border-radius: 0.5rem;
}
