.stock_index_container {
  padding: 3rem;
}

.stock_index_container ul {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.stock_index_container ul li {
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1rem;

  cursor: pointer;
}

.stock_index_container ul li.active {
  background-color: #0220470d;
  font-weight: bold;
}
