/* @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css); */
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  src: url("../../assets/fonts/SpoqaHanSansNeo-Bold.ttf");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 500;
  src: url("../../assets/fonts/SpoqaHanSansNeo-Medium.ttf");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 400;
  src: url("../../assets/fonts/SpoqaHanSansNeo-Regular.ttf");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 300;
  src: url("../../assets/fonts/SpoqaHanSansNeo-Light.ttf");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 100;
  src: url("../../assets/fonts/SpoqaHanSansNeo-Thin.ttf");
}

:root {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  --primary-color: #ee137b;
  --primary-home-border-color: #eee;
  --primary-border-color: #212121;
  --primary-font-color: #212121;
  --primary-content-font-color: #333d4b;
  --primary-hover-font-color: #ee137b;
  --primary-placeholder-font-color: #aaa;
  --primary-deactivate-font-color: #6b7684;
  --primary-up-font-color: #f04452;
  --primary-down-font-color: #318bf6;
  --primary-image-box-size: 2rem;
}
#root {
  margin: 0 auto;
  width: 85%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

label {
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}
