.stock_price_container {
  width: 80%;
  height: 722px;

  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.stock_price_content01 {
  width: 70%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.stock_chart_container {
  padding: 0.5rem;
  height: calc(50% - 0.75rem);
  border-radius: 1rem;
  background-color: #fff;
}

.stock_going_rate_container {
  height: 50%;
  padding: 0.5rem;
  border-radius: 1rem;

  background-color: #fff;
}

.stock_going_rate_container h3 {
  margin: 0.5rem;

  color: var(--primary-font-color);
  font-size: 0.9rem;
}

.stock_going_rate_container ul {
  padding: 0.2rem;
  background-color: var(--primary-button-backgoundcolor);
  border-radius: 0.3rem;

  display: flex;
  align-items: center;
}

.stock_going_rate_container ul li {
  width: 50%;
  padding: 0.25rem 1rem;
  border-radius: 0.3rem;

  color: var(--primary-deactivate-font-color);
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;

  cursor: pointer;
}

.stock_going_rate_container ul li.active {
  box-shadow: 0px 0px 5px #ddd;
  background-color: #fff;
}

.stock_going_rate_container .going_rate_table_wrap {
  height: calc(100% - 32px - 18px - 8px - 1rem);
  margin: 0.5rem 0;

  position: relative;

  overflow-y: auto;
  scrollbar-width: thin;
}

.stock_going_rate_container table {
  width: 100%;

  color: var(--primary-deactivate-font-color);
  font-size: 0.8rem;
}

.stock_going_rate_container table {
  border-collapse: separate;
  border-spacing: 0;
}

.stock_going_rate_container table th:first-of-type,
.stock_going_rate_container table td:first-of-type {
  text-align: left;
  padding-left: 0.75rem;
}

.stock_going_rate_container table th,
.stock_going_rate_container table td {
  text-align: right;
  padding: 0.5rem;
}

.stock_going_rate_container table thead {
  background-color: #fff;

  position: sticky;
  top: 0;
}

.stock_going_rate_container table th {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #ddd;
}

.stock_price_content02 {
  width: 30%;
  height: 100%;
}

.stock_quote_container {
  height: 100%;
  padding: 0.5rem;
  background-color: #fff;

  border-radius: 1rem;
}

.stock_quote_container .header {
  line-height: 32px;
}

.stock_quote_container h3 {
  color: var(--primary-font-color);
  font-size: 0.9rem;
}

.stock_quote_container .content_wrap {
  border-top: 1px solid var(--primary-light-border-color);

  height: calc(100% - 32px);
  overflow: auto;
  scrollbar-width: thin;
}

.stock_quote_container .content {
  position: relative;
}

.stock_quote_container .price_container {
  min-width: 330px;
  min-height: 333px;

  display: grid;
  grid-template-columns: 3fr 4fr 3fr;

  overflow-anchor: none;
}

.stock_quote_container .price_container.rise {
  grid-template-areas: "sellOrder sellOrder info";
  border-bottom: 2px solid var(--primary-light-border-color);
}

.stock_quote_container .price_container.decline {
  grid-template-areas: "tradingStrength buyOrder buyOrder";
}

.stock_quote_container .price_container.rise ul {
  grid-area: sellOrder;
  align-self: end;
}

.stock_quote_container .price_container.decline ul {
  grid-area: buyOrder;
}

.stock_quote_container .price_container.rise .price_info_contianer {
  display: grid;
  grid-template-columns: minmax(10px, 3fr) minmax(10px, 4fr);
  align-items: center;
}

.stock_quote_container .price_container.decline .price_info_contianer {
  display: grid;
  grid-template-columns: minmax(10px, 4fr) minmax(10px, 3fr);
  align-items: center;
}

.stock_quote_container .price_container .transaction_price_box {
  position: relative;
}

.stock_quote_container .price_container .transaction_price_box span {
  font-size: 0.75rem;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  z-index: 2;
}

.stock_quote_container .price_container.rise .transaction_price_box span {
  right: 0.5rem;
}

.stock_quote_container .price_container.decline .transaction_price_box span {
  left: 0.5rem;
}

.stock_quote_container .price_container .transaction_price_box .progress_bar {
  height: 1.5rem;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  z-index: 1;
}

.stock_quote_container
  .price_container.rise
  .transaction_price_box
  .progress_bar {
  background-color: #e8f3ff;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  right: 0;
}

.stock_quote_container
  .price_container.decline
  .transaction_price_box
  .progress_bar {
  background-color: #ffeeee;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;

  left: 0;
}

.stock_quote_container .price_container .fluctuation_rate_box {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;

  font-size: 0.9rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  z-index: 999;
}

.stock_quote_container .price_container .fluctuation_rate_box.active {
  border: 1px solid var(--primary-border-color);
}

.stock_quote_container
  .price_container
  .fluctuation_rate_box
  span:first-of-type {
  font-weight: bold;
  font-size: 0.9rem;
}

.stock_quote_container
  .price_container
  .fluctuation_rate_box
  span:last-of-type {
  font-size: 0.75rem;
}

.stock_quote_container .price_container .stock_price_info_container {
  padding: 0 0.25rem;

  color: var(--primary-deactivate-font-color);
  font-size: 0.75rem;
  font-weight: 500;
}

.stock_quote_container .price_container .stock_price_info_container .info_box {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--primary-light-border-color);

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.stock_quote_container
  .price_container
  .stock_price_info_container
  .info_box
  > div {
  display: flex;
  justify-content: space-between;
}

.stock_quote_container
  .price_container
  .stock_price_info_container
  .info_box
  > div.title {
  font-weight: bold;
  margin-bottom: 0.15rem;
}

.stock_quote_container .price_container.rise .stock_price_info_container {
  grid-area: info;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.stock_quote_container
  .price_container.rise
  .stock_price_info_container
  .info_box:last-of-type {
  padding-bottom: 1rem;
}

.stock_quote_container .price_container.decline .stock_price_info_container {
  grid-area: tradingStrength;
}

.stock_quote_container
  .price_container.decline
  .stock_price_info_container
  .info_box {
  padding-top: 1rem;
}

.stock_quote_container
  .price_container
  .stock_price_info_container
  .info_box:last-of-type {
  border-bottom: none;
}

.content .left_border,
.content .right_border {
  height: 100%;
  border-right: 1px solid var(--primary-light-border-color);

  position: absolute;
  top: 0;
  z-index: 3;
}

.content .left_border {
  left: 30%;
}

.content .right_border {
  left: 70%;
}

.stock_quote_container .footer {
}
