.stock_detail_title_container {
  width: 95%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock_detail_title_container .stock_title_box {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.stock_detail_title_container .icon_box svg {
  width: 2.75rem;
  height: 2.75rem;
}

.stock_detail_title_container .info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.stock_detail_title_container .name {
  font-weight: 500;

  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.stock_detail_title_container .name span:last-of-type {
  color: var(--primary-placeholder-font-color);
}

.stock_detail_title_container .value {
  font-weight: 500;

  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.stock_detail_title_container .value .krw {
  font-size: 1.25rem;
}

.stock_detail_title_container .value .sub_box {
  font-size: 0.9rem;

  display: flex;
  align-items: center;
}

.stock_detail_title_container .value .sub_box .usd {
  color: var(--primary-content-font-color);

  display: flex;
  align-items: center;
}

.stock_detail_title_container .value .sub_box .usd:after {
  display: block;
  content: "";
  width: 1px;
  height: 0.75rem;
  margin: 0.4rem;
  background-color: #ddd;
}

.stock_detail_title_container .btn_box {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.stock_detail_title_container .btn_box button {
  padding: 0.5rem;
  background-color: var(--primary-button-backgoundcolor);
  border-radius: 0.5rem;

  color: var(--primary-placeholder-font-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.stock_detail_title_container .btn_box button:hover {
  background-color: var(--primary-hover-button-backgoundcolor);
}

.stock_detail_title_container .btn_box button svg {
  width: 1.25rem;
  height: 1.25rem;
}

.stock_menu_contianer {
  width: 95%;
  margin: 1rem auto;

  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.stock_menu_contianer li {
  line-height: 32px;
  padding: 0 0.5rem;
  border-radius: 1rem;

  color: var(--primary-deactivate-font-color);
  font-size: 0.85rem;
}

.stock_menu_contianer li.active {
  color: var(--primary-content-font-color);
  background-color: var(--primary-filter-button-backgoundcolor);
  font-weight: 600;
}
