.stock_price_content02 {
  border: 1px solid #000;
}

.stock_price_container {
  width: 80%;
  height: 722px;

  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.stock_price_content01 {
  width: 75%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.stock_chart_container {
  padding: 0.5rem;
  height: calc(50% - 0.75rem);
  border-radius: 1rem;
  background-color: #fff;
}

.stock_going_rate_container {
  height: 50%;
  padding: 0.5rem;
  border-radius: 1rem;

  background-color: #fff;
}

.stock_going_rate_container h3 {
  margin: 0.5rem;

  color: var(--primary-font-color);
  font-size: 0.9rem;
}

.stock_going_rate_container ul {
  padding: 0.2rem;
  background-color: var(--primary-button-backgoundcolor);
  border-radius: 0.3rem;

  display: flex;
  align-items: center;
}

.stock_going_rate_container ul li {
  width: 50%;
  padding: 0.25rem 1rem;
  border-radius: 0.3rem;

  color: var(--primary-deactivate-font-color);
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;

  cursor: pointer;
}

.stock_going_rate_container ul li.active {
  box-shadow: 0px 0px 5px #ddd;
  background-color: #fff;
}

.stock_going_rate_container .going_rate_table_wrap {
  height: calc(100% - 32px - 18px - 8px - 1rem);
  margin: 0.5rem 0;

  position: relative;

  overflow-y: auto;
  scrollbar-width: thin;
}

.stock_going_rate_container table {
  width: 100%;

  color: var(--primary-deactivate-font-color);
  font-size: 0.8rem;
}

.stock_going_rate_container table {
  border-collapse: separate;
  border-spacing: 0;
}

.stock_going_rate_container table th:first-of-type,
.stock_going_rate_container table td:first-of-type {
  text-align: left;
  padding-left: 0.75rem;
}

.stock_going_rate_container table th,
.stock_going_rate_container table td {
  text-align: right;
  padding: 0.5rem;
}

.stock_going_rate_container table thead {
  background-color: #fff;

  position: sticky;
  top: 0;
}

.stock_going_rate_container table th {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #ddd;
}

.stock_price_content02 {
  width: 25%;
  height: 100%;
}
